/* Importing Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BarbieFont';
  src: url('/barbie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif; 
  background-color: #f7fafc; 
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barbie', sans-serif; 
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
