/* Importing Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BarbieFont';
  src: url('/barbie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif; 
  background-color: #f7fafc; 
  color: #333;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 1em;
  padding: 0;
}
