/* Importing Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif; 
  background-color: #f7fafc; 
  color: #333;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
